env/
venv/
src/__pycache__/
__pycache__/
src/static/images/
secrets.json
.vscode/
launch.json
.env
cam_secrets.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
