<!DOCTYPE html>
<html>
  <head>
    <title>Checkers, in the Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/sideBar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
  </head>
  <body>
    <div class="banner h-100 p-5 text-white bg-dark text-center align-middle">
      <h1 class='display-4'>Checkers, in the Cloud!</h1>
      <p class='lead'>RMIT Cloud Computing Assignment, Semester 1, 2021</p>
        <hr class="my-4" />
        <p>Built by Cameron van Roon & Julian Bitetto</p>
    </div>
    <div class='container'>
      <div class='row d-flex justify-content-center'>
        <a class='btn btn-primary main-btns' href='/game'>Play Now</a>
      </div>
      <div class='row d-flex justify-content-center'>
        <a class='btn btn-primary main-btns' href='/tutorial'>Tutorial</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scripts/sideBar.js')}}"></script>
  </body>
</html>