{% extends 'bootstrap/base.html' %}

{% block title %}Checkers, in the Cloud{% endblock %}

{% block styles %}
  {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
{% endblock %}

{% block content %}
  <div class='jumbotron text-center align-middle'>
    <div class='container'>
      <h1 class='display-4'>Checkers, in the Cloud!</h1>
      <p class='lead'>RMIT Cloud Computing Assignment, Semester 1, 2021</p>
      <hr class="my-4" />
      <p>Built by Cameron van Roon & Julian Bitetto</p>
    </div>
  </div>
  <div class='container text-center align-middle'>
    <a class='btn btn-lg btn-primary' href='/game'>Play</a>
    <a class='btn btn-lg btn-primary' target="_blank" href='https://gathertogethergames.com/checkers'>Tutorial</a>
  </div>
{% endblock %}

</html>