{% extends 'layout.html' %}


{% block title %}Checkers, in the Cloud{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
{% endblock %}

{% block content %}
  
  <div class='container login-body'>
    <h1 class='display-6'>Login</h1>
    <form action='' method='POST'>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name='username'>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name='password'>
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a class="sign-up-link" href='{{ twitter_login }}'>Login with Twitter</a>
    <a class="sign-up-link" href='/login-facebook'>Login with Facebook</a>
    <a class="sign-up-link" href='/signup'>Sign up here!</a>
  </div>
{% endblock %}

</html>