{% extends 'layout.html' %}

{% block title %}Checkers, in the Cloud{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
{% endblock %}

{% block content %}
<div class='container player-home-body'></div>
    <h4>Welcome {{user_name}}!</h4>
    <a class='text-center align-middle btn btn-primary' href="/logout">LOG OUT</a>
    <h3>Current Games</h3>
        {% if games|length > 0 %}
            {% for game in games %}
            {% if game['player_1'] != user_name %}
            <p><a href="/game/{{game['game_ID']}}">Game with {{game['player_1']}}</a> | <a href="/concede/{{game['game_ID']}}">Concede Game</a></p>
            {% else %}
            <p><a href="/game/{{game['game_ID']}}">Game with {{game['player_2']}}</a> | <a href="/concede/{{game['game_ID']}}">Concede Game</a></p>
            {% endif %}
            {% endfor %}
        {% else %}
            <p>You don't currently have any games. Invite a user to a game below.</p>
        {% endif %}
    <h3>Invites</h3>
    {% if invites != None %}
        {% if invites|length > 0 %}
            {% for invite in invites %}
            <p><a href="/invite/accept/{{invite}}">Accept {{invite}}'s invite</a></p>
            {% endfor %}
        {% else %}
            <p>If anyone invites you to a game, you will see the invite here.</p>
        {% endif %}
    {% endif %}
    <h3>Opponents</h3>
    <form action="/home" method="POST">
        <p>
            <input type="submit" value="Search for Opponents"/><input type="text" id="user_search" name="user_search">
        </p>
    </form>
    {% if results != None %}
        {% if results|length > 0 %}
        <table style = "border-collapse: collapse; border: 1px solid black; padding: 4px;">
            <tr>
                <th style = "border-collapse: collapse; border: 1px solid black; padding: 4px;">Users Matching Your Query</th>
            </tr>
            {% for user in results %}
            <tr>
                <td style = "border-collapse: collapse; border: 1px solid black; padding: 4px;"><a href="/invite/send/{{user}}">{{user}}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No users matched your search</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
