<div class="game-board ">
  {%- for x in range(8) %}
    <div class="row">
      {%- for y in range(8) %}
          <div class="
          {%- if (y+x) % 2 == 1 %} cell-dark {%- endif %} cell-{{ x~'-'~y }}
          col-xs-2 cell" onclick='selectCell([{{ x }}, {{ y }}])'>

          {%- for piece in board.exportPieces() %}
            {%- if piece.position_x == x and piece.position_y == y %}
              {%- if piece.team == 1 %}
                <div class="checker checker-dark" onclick='selectPiece([{{ x }}, {{ y }}])'>
                  <!-- {{ x~', '~y }} -->
                  <img src="../../static/images/checker_dark.png" />
                </div>
              {%- else %}
                <div class="checker checker-light" onclick='selectPiece([{{ x }}, {{ y }}])'>
                  <!-- {{ x~', '~y }} -->
                  <img src="../../static/images/checker_light.png" />
                </div>
              {%- endif %}
            {%- endif %}
          {%- endfor %}

        </div>
        {%- endfor %}
        <div class="col-xs-2 cell blank-cell"></div>
    </div>
  {%- endfor %}
</div>