<div class="game-board ">
  {%- for x in range(8) %}
    <div class="row">
      {%- for y in range(8) %}
          <div class="
          {%- if (y+x) % 2 == 1 %} cell-dark {%- endif %} cell-{{ x~'-'~y }}
          col-xs-2 cell">

          {%- if (y+x) % 2 == 0 and (x >= 0 and x <= 2) %}
          <div class="checker checker-dark">
            <!-- {{ x~', '~y }} -->
            <img src="../../static/images/checker_dark.png" />
          </div>
          {%- endif %}

          {%- if (y+x) % 2 == 0 and (x >= 5 and x <= 7) %}
          <div class="checker checker-light">
            <!-- {{ x~', '~y }} -->
            <img src="../../static/images/checker_light.png" />
          </div>
          {%- endif %}

        </div>
        {%- endfor %}
        <div class="col-xs-2 cell blank-cell"></div>
    </div>
  {%- endfor %}
</div>